@mixin font-family($font) {
	font-family: $font;
}

$bgcolor1: #F6D25B;
$bgcolor2: #000; // #5B7FF6;
$blurColor: #5B7FF6;
$hovercolor: #5B7FF6;
$Lora: 'Lora';
$Raleway: 'Raleway';


body {
	background-color: $bgcolor1;
}

::-webkit-input-placeholder {
	color: $bgcolor2;
	@include font-family($Raleway);
}

header {
	// background-color: white;
	font-size: 50px;
	@include font-family($Lora);
	text-align: center;
	margin-top: 10rem;
	h1 {
		@include font-family($Raleway);
	}
}

.search-box {
	border: 2px solid $bgcolor2;
	border-radius: 10px;
	margin: 0 auto;
	display: inline-block;
	position: absolute;
	left: 50%;
	padding-right: 10px;
	transform: translateX(-50%);
}

.search {
	border-radius: 10px;
	background-color: $bgcolor1;
	border: 0;
	height: 2em;
	padding: 1em;
	margin-right: 1em;
	&:focus {
		outline: none;
	}
}

div i {
	color: $bgcolor2;

	&:hover {
		color: (#000);
		cursor: pointer;
	}
}

#results {
	background-color: #999;
	margin: 10em auto;
}

.big-search-button {
	text-align: center;
}

.search-button {
	padding: 5px 0 0 5px;
}

.random {
	@include font-family($Raleway);
	background-color: #000;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	padding: 1em;
	display: inline-block;

	&:hover {
		cursor: pointer;
		background-color: #222;
	}
}

.random-container {
	text-align: center;
	margin: 1em auto 3em auto;
}
