body {
  background-color: #F6D25B; }

::-webkit-input-placeholder {
  color: #000;
  font-family: "Raleway"; }

header {
  font-size: 50px;
  font-family: "Lora";
  text-align: center;
  margin-top: 10rem; }
  header h1 {
    font-family: "Raleway"; }

.search-box {
  border: 2px solid #000;
  border-radius: 10px;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  padding-right: 10px;
  transform: translateX(-50%); }

.search {
  border-radius: 10px;
  background-color: #F6D25B;
  border: 0;
  height: 2em;
  padding: 1em;
  margin-right: 1em; }
  .search:focus {
    outline: none; }

div i {
  color: #000; }
  div i:hover {
    color: #000;
    cursor: pointer; }

#results {
  background-color: #999;
  margin: 10em auto; }

.big-search-button {
  text-align: center; }

.search-button {
  padding: 5px 0 0 5px; }

.random {
  font-family: "Raleway";
  background-color: #000;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 1em;
  display: inline-block; }
  .random:hover {
    cursor: pointer;
    background-color: #222; }

.random-container {
  text-align: center;
  margin: 1em auto 3em auto; }
