@mixin font-family($font) {
	font-family: $font;
}

$bgcolor1: #D0CCBC;
$bgcolor2: #000;
$bgcolor3: #EEE9D7;
$Lora: 'Lora';
$Raleway: 'Raleway';

body {
	background-color: $bgcolor3;
	@include font-family($Lora);
}
::-webkit-input-placeholder {
	color: $bgcolor2;
	@include font-family($Raleway);
}
header {
	font-size: 50px;
	@include font-family($Lora);
	text-align: center;
	margin-top: 10rem;
	h1 {
		@include font-family($Lora);
	}
}

a {
	text-decoration: none;
	&:visited {
		color: black;
	}
}

.search-box {
	border: 2px solid $bgcolor2;
	border-radius: 10px;
	display: inline-block;
	padding-right: 10px;
}
.search {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);;
	border: 0;
	height: 2em;
	padding: 1em;
	margin-right: 1em;
	&:focus {
		outline: none;
	}
}
div i {
	color: $bgcolor2;
	&:hover {
		color: (#000);
		cursor: pointer;
	}
}

.showResults {
	@include font-family($Lora);
	//border: 0.5px solid $bgcolor2;
	margin: 3em 2em;
	padding: 1em;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
		font-weight: bolder;
	}

	.content {
		display: inline;
	}
	* {
		color: black;
	}
}

.big-search-button {
	text-align: center;
}
.search-button {
	padding: 5px 0 0 5px;
}
.random {
	@include font-family($Lora);
	background-color: #000;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	padding: 1em;
	display: inline-block;
	&:hover {
		cursor: pointer;
		background-color: #222;
	}
}
.random-container {
	text-align: center;
	margin: 1em auto 3em;
}
.search-box-wrapper {
	text-align: center;
}

// TODO: Stylize little boxes for each result
// TODO: Make the html tags disappear for the wiki content
